.MyLogo {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 40px;
}

.MyLogo:hover {
  cursor: pointer;
}

.LogoImg {
  height: 50px;
  width: 50px;
  background-image: url('../../../assets/images/logo_white.svg');
  background-size: contain;
  margin-right: 10px;
}

.LogoImg_dark {
  background-image: url('../../../assets/images/logo_dark.svg');
}

.MyLogo:hover .LogoImg {
  filter: drop-shadow(3px 3px #535bfc);
}

@media screen and (max-width: 768px) {
  .MyLogo {
    margin-bottom: 10px;
    margin-left: 0;
  }
}

@media screen and (max-width: 468px) {
  .MyLogo h3 {
    font-size: 1em;
  }
}

@media screen and (max-width: 368px) {
  .MyLogo h3 {
    font-size: 0.75em;
  }
}

@media screen and (max-width: 500px) {
  .LogoImg {
    order: 1;
    margin-right: 0;
    margin-left: 10px;
  }
}

@media screen and (max-width: 450px) {
  .LogoImg {
    display: none;
  }
}