.MyBurger {
  position: absolute;
  top: 20px;
  left: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 32px;
  height: 19px;
  z-index: 4;
}

.MyBurger:hover {
  cursor: pointer;
}

/* .MyBurger:hover .MyBurgerLine {
  border: 1px solid #644cff;
} */

.MyBurgerLine {
  width: 100%;
  height: 3px;
  background-color: #ecf0f1;
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.7s ease-in-out;
}


.Active .MyBurgerLine:nth-child(1),
.Active .MyBurgerLine:nth-child(3) {
  width: 25px;
}

.Active .MyBurgerLine:nth-child(1) {
  -webkit-transform: translateX(-10px) rotate(-45deg);
  -ms-transform: translateX(-10px) rotate(-45deg);
  -o-transform: translateX(-10px) rotate(-45deg);
  transform: translateX(-10px) rotate(-45deg);
}

.Active .MyBurgerLine:nth-child(3) {
  -webkit-transform: translateX(-10px) rotate(45deg);
  -ms-transform: translateX(-10px) rotate(45deg);
  -o-transform: translateX(-10px) rotate(45deg);
  transform: translateX(-10px) rotate(45deg);
}

@media (prefers-color-scheme: light) {
  .MyBurgerLine {
    background-color: teal;
  }

  .Active .MyBurgerLine {
    background-color: #747bff;
  }
}

@media screen and (max-width: 768px) {
  .MyBurger {
    top: 38px;
  }
}

@media screen and (max-width: 468px) {
  .MyBurger {
    top: 35px;
  }
}

@media screen and (max-width: 368px) {
  .MyBurger {
    top: 28px;
  }
}