.wrapper {
  position: relative;
  background: transparent;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
  overflow: hidden;
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 768px;
  }
}